[connection]
id=UAL
uuid=41b002bc-092a-4dcb-80e1-017552af7249
type=vpn
autoconnect=false
permissions=user:{{ userid }}:;

[vpn]
authtype=password
autoconnect-flags=0
certsigs-flags=0
cookie-flags=2
enable_csd_trojan=no
gateway=vpn.ualberta.ca
gateway-flags=2
gwcert-flags=2
lasthost-flags=0
pem_passphrase_fsid=no
prevent_invalid_cert=no
protocol=anyconnect
stoken_source=disabled
xmlconfig-flags=0
service-type=org.freedesktop.NetworkManager.openconnect

[vpn-secrets]
form:main:username={{ userid }}@LibraryITS
lasthost=vpn.ualberta.ca

[ipv4]
dns-search=
method=auto

[ipv6]
addr-gen-mode=stable-privacy
dns-search=
method=auto
